.formInLine {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.input_small {
    margin: 1%;
    width: 10%;
}

.Input_medium {
    margin-left: 3%;
    width: 50%;
}

.Input_cb {
    width: 10%;
    padding: 0%;
}
.ref {
   background-color:rgb(202, 202, 202);
}
.totales {
    display: flex;
    justify-content: flex-end;
}
.label-totales {
    margin-top: 1%;
}
.eliminar {
    background-color: red;
}
.select {
    border-color: darkgrey;
    color: rgb(122, 122, 122);
}